.button{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-color: #000000;
    -fx-border-width: 1.5;
}
.button:hover {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-color: #000000;
    -fx-border-width: 1.5;
    -fx-background-insets: 0;
}

